.app_container{
    background-color: #202C36;
    color: #fff;
}
.info_container{
    background-color: #202C36!important;
    color: #fff;
}
.dark_card{
    background-color: #2B3844!important;
}
.dark_moon_icon{
    color: #fff;
}
.dark_search_line{
    background-color: #2B3844!important;
    color: #fff!important;
}
.dark_search_line::placeholder {
    color: #fff!important;
}