* {
    margin: 0;
    padding: 0;
  }
html,
body {
  height: 100%;
}
body{
    background-color: #FAFAFA!important;
}
.content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 90px;
}
       
.modal-header .btn-close{
    position: absolute;
    left: 100px;
    top: 170px;
    z-index: 3;
    width: 100px;
}


.modal-header.light_header .btn-close{
    color: black;
    background: url('../../src/images/logos/light_back_arrow.svg') 10px 50% no-repeat;
 }
 
 .modal-header.dark_header .btn-close{
    color: white;
    background: url('../../src/images/logos/dark_back_arrow.svg') 10px 50% no-repeat;
 }

.modal-header .btn-close:after{
    display: block;
    width: 100px;
    padding: 10px;
    content: "Back";
    border-radius: 5px;
    position: absolute;
    top: -7px;
    left: 15%;
}

.modal-header.dark_header .btn-close{
    background-color: rgba(211, 211, 211, 0.534);
}

.button_border_countries{
    cursor: pointer;
    border-radius: 5px;
}

 @media (max-width: 1000px) {
    .col-md-6:nth-child(3) .country_card_container{
    margin-top: 30px;
    }
   .col-md-6:nth-child(4) .country_card_container{
    margin-top: 30px;
    }
 }

 @media (max-width: 755px) {
    .col-md-6:nth-child(2) .country_card_container{
        margin-top: 30px;
        }
 }
